<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <add key="sms_username" value="sandeepthakur" />
    <add key="sms_key" value="8bc3585bad281f5913a84cbbf4b5248649389202fe6931bc2c96169df68b12cf0" />
    <add key="oms_username" value="abc" />
    <add key="oms_password" value="123" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="service.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>